.title{
    text-align: center;
    color: #212ea0;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
}
.title h1{
    font-size: 52px;
    color: #000F38;
    margin-top: 5px;
    text-transform: none;
}